:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  --main-div-color: rgba(116	123	255);
  --main-btn-color: rgb(58, 67, 245);
}



body {
  margin: 0%;
}

.main-container{
  display: grid;
  grid-template-areas: 
    "header header header"
    "game game info";
  margin: 0% auto;
  align-items: center;
  gap: 20px;
  width: 820px;
}

#header-section{
  grid-area: header;
  margin: 0% auto;
}

#tablero {
  grid-area: game;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;

}

.card {
  width: 120px;
  height: 120px;
  background-color: var(--main-div-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  opacity: 0.7;
}

img{
  width: 75%;
  height: 75%;
}

#section-info{
  grid-area: info;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

#reset-game-btn{
  padding: 15px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: var( --main-btn-color);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}


#reset-game-btn:hover{
  opacity: 0.8;
  box-shadow: 0.5px 1px 0.5px 0px var(--main-btn-color);
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
