*{
  box-sizing: border-box;
}

.turno-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.numero-turno {
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.texto-turno {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}


.button-container{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

button{
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}

button:hover{
  box-shadow: 10px 10px 31px -13px rgba(0,0,0,0.75);
  cursor: pointer;
}

#siguiente{
  background-color: rgb(16, 130, 16);
  
}

#anterior{
  background-color: rgb(238, 92, 92);
}

#input-container{
  display: flex;
  justify-content: center;
  gap: 13px;
  padding-top: 30px;
  align-items: center;
}
label{
  font-size: 20px;
  font-weight: bold;
}
input{
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}